body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td, th {
    border: 1px solid #334155;
    padding: 10px;
}

form input, button {
    padding: 8px;
    margin: 5px;
}

#hamburger-menu a:hover {
    background-color: #000000;
}
